
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <table>
        <tr>
          <td>First name</td>
          <td>{{ first_name }}</td>
        </tr>
         <tr>
          <td>Last name</td>
          <td>{{ last_name }}</td>
        </tr>
         <tr>
          <td>Email</td>
          <td>{{ email }}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{ phone }}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{ age }}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{ occupation }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ gender }}</td>
        </tr>
        <tr>
          <td>Smoker</td>
          <td>{{ is_smoker }}</td>
        </tr>
        <tr>
          <td>Have any kids</td>
          <td>{{ have_kids }}</td>
        </tr>
        <tr>
          <td>Have any pets</td>
          <td>{{ have_pet }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ description }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>