
<navbar></navbar>

<!-- header -->
<header id="top" class="header lg-col-12 wrapper">
  <div class="text-vertical-center wrapper">
    <div class="title-txt">
      <h1>Your next roommate is just a click away.</h1>
    </div>
  </div>
  <!-- left box -->
  <div class="text-vertical-center wrapper col-lg-5 left-col">
    <div class="front-left">
      <form>
        <table>
          <tbody>
            <tr>
              <div class="front-left-txt">
                <p>Looking for the perfect room?</p>
              </div>
            </tr>
            <tr>
              <button type="submit" id="front-mates-btn" ng-click="search_page()" class="btn btn-default">Start searching for rooms now!</button>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <!-- center spacing -->
  <div class="text-vertical-center wrapper col-lg-2 col-lg-offset-5 left-col">
  </div>
  <!-- Right box -->
  <div class="text-vertical-center wrapper col-lg-offset-7 col-lg-5 right-col">
    <div class="text-vertical-center wrapper col-lg-5 left-col">
      <div class="front-right">
        <form>
          <table>
            <tbody>
              <tr>
                <div class="front-right-txt">
                  <p>Looking for your next roommate?</p>
                </div>
              </tr>
              <tr>
                <button type="submit" id="front-mates-btn" ng-click="list_room()" class="btn btn-default">List your room and find your next roommate!</button>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- recently added -->
<section>
  <div id="recently-added">
    <h1> Recently added rooms </h1>
  </div>
</section>
