#flat-form {
  background: image-url("tablebg.png") no-repeat center;
  background-size: cover;
  height: 120%;
}

.signup-bg {

}

.room-panel {
  margin-top: -545px;
}

#submit-btn {
  margin-top: 450px;
  margin-left: 15px;
}

.create-flat-form {
  font-family: lato;
  margin-top: 100px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}