#top-line {
  text-align: center;
  font-style: bold;
  font-size: 22px;
}

.top-details {
  margin: 0px 20px 0px 20px;
}

html,
body {
    height: 100%;
    font-family: Lato;
}

.img-hover:hover {
    opacity: 0.8;
}

.image {
  margin-top: 60px;
  margin-left: 33%;
  min-height: 300px;
  min-width: 370px;
}
