<navbar></navbar>
<div class="content">
  
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <div class="form-group">
          <label>Select a district</label>
          <select ng-model="district_name" ng-options="district.Name as district.Name for district in Districts track by district.Id">
         </select>
        </div> 
      </li>
    </ul>
  </div>
  
  <div class="row">
    <div class="container col-lg-offset-2 col-lg-6 list_of_flats room-style">
      <div class="row">
        <div class="container flat-item" ng-repeat="flat in flats | filter: filterFlats">
          <a href="#/room/{{ flat.id }}">
            <div class="container col-xs-8">
              <div class="row">
                <div class="container col-xs-4">
                  <img src="http://media-cdn.tripadvisor.com/media/photo-o/02/35/07/69/appart-city-chalon-sur.jpg">
                </div>
                <div class="container col-xs-4">
                  <h2>{{ flat.building_district_name }}</h2>
                  <h4>{{ flat.room_rent_amount | currency: HKD:0}} per month</h4>
                  <h4>availble from {{ flat.room_date_available | date:'longDate'}}</h4>
                </div>
                <div class="container col-xs-4">
                  <p>Posted by {{ flat.user.first_name }}</p>
                  <p>{{ flat.room_description }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      
      </div>
    </div>

  </div>
</div>