<div class="container">
  <div class="row">

    <div class="container flat-item" ng-repeat="flat in flats">
      <a href="">
        <div class="container col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="container col-xs-4">
              <img src="http://media-cdn.tripadvisor.com/media/photo-o/02/35/07/69/appart-city-chalon-sur.jpg">
            </div>
            <div class="container col-xs-8">
              <h2>{{ flat.building_district_name }}</h2>
              <h3>{{ flat.rent }}</h3>
              <h4>{{ flat.date_available }}</h4>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>